{% extends "base.html" %} {% load staticfiles %} {% load filtros_carrito %} {% block title %} Pagina de inicio | Carrito de Compras{% endblock title %} {% block contenido %}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-2 ">
            <h2>Lorem, ipsum.</h2>
        </div>
    </div>
</div> -->

<div class="card">
    <!-- Card image -->
    <div class="view view-cascade overlay">
        <img class="card-img-top" src="{% static 'img/inicio.jpg' %}" alt="Card image cap">
        <div class="portada-content">
            <h1 class=" p-text animated fadeIn 3s delay 2s">Lorem ipsum dolor sit amet consectetur.</h1>
        </div>
    </div>

</div>

<hr>
<div class="container">
    <div class="row justify-content-center row-cur">
        <h3>Nuestros cursos</h3>
    </div>
    <div class="row justify-content-center row-cur">
        {% for curso in cursos %}
        <div class="col-md-4 col1">
            <div class="card" style="box-shadow:-1px 1px 12px 3px rgb(105, 100, 100);">
                <div class="view overlay hm-white-slight">
                    <img src=" {{curso.portada.url}} " class="img-fluid" alt="" style="height: auto;">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>
                <!--content-->
                <div class="card-body">
                    <!--Title-->
                    <a href="#">
                        <h4 class="card-title">{{curso.nombre}}</h4>
                    </a>
                    <hr>
                    <!--Text-->
                    <p class="card-text" style="font-size: 0.9rem;">{{ curso.resumen}}</p>
                    {% if not curso.es_gratis %} {% if curso|si_agrego_curso_carrito %}
                    <a href="#" class="btn btn-success"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregado</a>
                    <a href=" {% url 'app_carrito:p_ver_carrito' request.user.usuario %} "> <button type="button" class="btn btn-outline-info waves-effect ir_carrito">Ir a tu carrito</button></a>
                    {% else %}
                    <a href=" {% url 'app_carrito:p_agregar_compra' curso.slug %} " class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Agregar al Carrito</a> {% endif %} {% else %} {% endif %}

                </div>
                <!--content-->
                <!-- footer -->
                <div class="card-data">
                    <ul>
                        {% if curso.es_gratis %}
                        <button class="btn" style="background-color:#d10404c9; color: white;">Gratis</button> {% else %}
                        <button class="btn" style="background-color: #8b034ed9; color:white;">S/. {{curso.costo}}</button> {% endif %}
                    </ul>
                </div>
                <!-- footer -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}