{% extends "base.html" %} {% load %} {% block contenido %}
<div class="container" style="max-width: 1240px !important;">
    <div class="row pt-5">
        <div class="col-md-8">
            <div class="card p-5">
                <div class="card-head">
                    <h1><strong>{{ curso_detalle.nombre}}</strong></h1>
                </div>
                <div class="card-body">

                    <br/>
                    <p class="font-light f-400">{{ curso_detalle.sobre_curso }}</p>
                    <!-- <h5 class="c-text">Descripcion:</h5>
                    <p class="font-light f-400">{{curso_detalle.resumen}}</p> -->
                    <a href="#" target="_blank" rel="noopener noreferrer">


                    </a>
                    <p><span class="c-text" style="font-weight:500">Autores:</span>{% for autor in curso_detalle.autores.all %} <span class="font-light">{{ autor }},</span>{% endfor %}</p>
                    <p><span class="c-text" style="font-weight:500">Duracion:</span> <span class="font-light">{{ curso_detalle.duracion }} horas</span></p>

                    <p><span class="c-text" style="font-weight:500">Categoria:</span>{% for cat in curso_detalle.categorias.all %}
                        <span class="font-light">{{cat}},</span> {% endfor %}</p>
                    <span style="font-size: 0.8rem; font-weight:400; color: #0d6ca9f7;">Actualizado: {{ curso_detalle.fecha_creacion|date:"M, Y" }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-4 text-center">
            <img src="{{curso_detalle.portada.url}}" alt="" width="400px">
            <hr/>
            <div class="row text-center">
                <div class="row" style="width: 100%;">{% if curso_detalle.es_gratis %}
                    <button class="btn btn-danger" style="width: 100%;">Gratis</button> {% else %}
                    <button class="btn btn-info" style="width: 100%;">S/. {{curso_detalle.costo}}</button> {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}