{% extends "base.html" %} {% block contenido %}

<div class="container">
    <h2>Nuestros Cursos</h2>
</div>

<div class="container">
    <br>
    <div class="row justify-content-center row-cur">
        {% for curso in lista_cursos %}
        <div class="col-md-4 col1">
            <div class="card box-shadow m-3" style="font-size:0.9rem;">

                <div class="card-head">
                    <a href="{% url 'app_cursos:detalle' curso.slug %} ">
                        <img src=" {{curso.portada.url}} " class="img-fluid " alt=" " width="300px " height="300px ">
                    </a>

                    <a href="# ">
                        <div class="mask "></div>
                    </a>
                </div>

                <!--content-->
                <div class="card-body p-4 ">
                    <!--Title-->
                    <a href="# ">
                        <h4 class="card-title " style="font-size:1.3rem ">{{curso.nombre}}</h4>
                    </a>
                    <hr>
                    <!--Text-->
                    <p class="card-text ">{{ curso.resumen}}</p>

                </div>
                <!--content-->
                <!-- footer -->
                <div class="card-data">
                    <ul>
                        {% if curso.es_gratis %}
                        <button class="btn" style="background-color:#d10404c9; color: white;">Gratis</button> {% else %}
                        <button class="btn" style="background-color: #8b034ed9; color:white;">S/. {{curso.costo}}</button> {% endif %}
                    </ul>
                </div>
                <div class="container p-3">
                    <a href="{% url 'app_cursos:detalle' curso.slug %} "> <button class="btn btn-primary " style="cursor:pointer ">INSCRIBIRME AHORA</button> <a/>
                </div>

                <!-- footer -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}